<app-mascotas></app-mascotas>
<h1>class & style</h1>
<input type="text"required #nameInput2="ngModel" [(ngModel)] ="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido</p>
<hr>
<label> NOMBRE </label>
<input type="text"required #nameInput3="ngModel" [(ngModel)] ="person.name" />
<P [style.font-style]="nameInput3.invalid ? 'italic' :'normal' "> texto</P>
<div class="styles">
    <div>
      <input type="text" [(ngModel)] ="widthImg" />
    </div>
    <div>
      <img [style.width.px]="widthImg" [src] ="person.avatar" />
    </div>
</div>

<hr>
<h1>*ngSwitch</h1>
<input type="text"required [(ngModel)] ="person.name" />
<div [ngSwitch]="person.name">

  <p *ngSwitchCase="'nicolas'">
    La persona es nicolas
  </p>
  <p *ngSwitchCase="'julian'">
    La persona es julian
  </p>
  <p *ngSwitchCase="'camilo'">
    La persona es camilo
  </p>
  <P *ngSwitchDefault> No hace match </P>

</div>
<!--<p *ngIf="person.name ==='nicolas'">
  La persona es nicolas
</p>
<p *ngIf="person.name ==='julian'">
  La persona es julian
</p>
<p *ngIf="person.name ==='camilo'">
  La persona es camilo
</p> -->

<h1>*ngFor objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products ">
    <img  [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>

<h1>*ngFor</h1>
<input type="text"required [(ngModel)] ="newName" />
<button (click)='addName()'>Add name </button>
<ul>
  <li *ngIf="names.length === 0 ">NO HAY NOMBRES</li>
  <li *ngFor="let name of names; index as i">
   {{i}} {{ name }}
   <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>


<h1>*ngIf</h1>
<input type="text"required [(ngModel)] ="person.name" />
<p *ngIf="person.name === 'nicolas'">Soy nicolas</p>
<p *ngIf= "person.name === 'julian' && person.age === 18; else myBlock">Soy julian</p>
<ng-template #myBlock >
  <p>Bloque de else</p>
  </ng-template>
  <hr>

<h1>NgModel</h1>
<p> Nombre {{ person.name }} </p>
<input type="text"required #nameInput="ngModel" [(ngModel)] ="person.name" />
 <p>valid: {{nameInput.valid}}</p>
 <p> Age {{ person.age }} </p>
<input type="number" max="50" min="10"required #ageInput="ngModel" [(ngModel)] ="person.age" />
<p>valid: {{ageInput.valid}}</p>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">enviar</button>
<button (click)='toggleButton()'>toggle button </button>
<p> Edad {{ person.age }} </p>
<button (click)='increaseAge()'>Age++ </button>
<div class="box"(scroll)="onScroll($event)">
  <p>hhhhdasbdklhdknasjdknaksjdnasndjsdhkjasdjkasbdkasjasbdkbaskdbhsadbahsbdbhbasbjhabdkasjdnkbsdaksbhasbdasdb</p>

</div>
<p> Nombre {{ person.name }} </p>
<input type="text" [value]="person.name"(keyup)="changeName($event)">
<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">enviar</button>
<input type="text" [value]="name">
<progress max= '50' [value]= 'person.age'></progress>
<img width="100" [src]="img"/>;

<hr>
<h1>hola </h1>
<h2>{{ 'hola mundo' . repeat(1) }}</h2>
<p> 3 + 3 = {{3 * 3 + 5}} </p>
<h3>hola soy {{name}} y tengo {{age}}</h3>
<img width="100" src={{img}} alt="image">
